.TimetableContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* Adjust this value based on your aspect ratio */
  overflow: hidden;
}

.TimetableContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  border: none;
}


/* Card Styling */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 50px;
  text-align: center;
}

.card {
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin: 15px auto;
  box-sizing: border-box;
  overflow: hidden; 
}

.card:hover {
  background-color: #ffffffa4;
  transform: scale(1.05); /* Scale the card on hover for a pop-out effect */
}

.card-content {
  padding: 16px;
  text-align: center;
}

.card-title {
  font-family: 'Blanka', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.card-description {
  font-size: 1rem;
}

/* Making Cards Square */
/* .card {
  width: 300px;
  height: 300px;
} */

/* Responsive Styling */
@media (max-width: 900px) {
  .card {
    width: calc(50% - 30px);
  }
}

@media (max-width: 600px) {
  .card {
    width: 100%;
    margin: 15px 0;
  }
}
